*
{
    margin: 0;
    padding: 0;
    transition: 3s all;
}

:root
{
    --dark: #3E3939;
    --noir: #2c2727;
    --orange: #ff7517;
    --blanc: #F6F4F4;
}

html
{
    font-size: 14px;
    font-family: 'Hind Siliguri', sans-serif;
    color: var(--blanc) ;
    height: 100vh;
}
/* --- NAVIGATION ---------------------------- */
nav
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 49px;
    border-bottom: 2px solid var(--noir);
}

nav ul
{
    display: flex;
    flex-direction: row;
    height: 100%;
}

nav a
{
    text-decoration: none;
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 15px 0 0 0;
    width: 20%;
    height: calc(100% - 15px);
    background-color: var(--dark);
    color: var(--orange);
}

nav a:hover
{
    transition: 2s !important;
    background-color: var(--orange);
    color: var(--dark);
    font-weight: 900;
}

/* --- MAIN ---------------------------------- */
#main
{
    position: absolute;
    top: 51px;
    bottom: 0;
    width: 100%;
    perspective: 5000px;
}

p
{
    text-align: justify;
}

#main h2
{
    text-align: center;
}

.plan
{
    position: absolute;
    text-align: center;
    transform: translateZ(-3000px);
    visibility: hidden;
}

.planAvant
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;    
    transform: translateZ(0);
    opacity: 1;
}

#p1
{
    background: url(images/fond\ nb.jpg);
    background-size: cover;
}



#container_bvn
{
    position: absolute;
    background-color: rgba(44, 39, 39, 0.7);
    color: rgba(255, 117, 23, 1);
    padding: 0 10px;
    right: 10%;
    top: 17%;
    height: 50px;
}

#bvn span
{
    display: inline-block;
    text-align: center;
    font-family: 'Courier Prime', 'Courier New', Courier, monospace;
}

#span1
{
    transform-origin: bottom;
    transform: translateY(0%) rotateX(0deg);
    opacity: 1;
}

.anim1
{
    transition: 3s all;
    transform: translateY(-100%) rotateX(-90deg);
    opacity: 0;
    font-family: 'Courier Prime', 'Courier New', Courier, monospace !important;
}

#span2
{
    transform-origin: top;
    transform: translateY(0%) rotateX(-90deg);
    opacity: 1;
}

.anim2
{
    transition: 3s all;
    transform: translateY(-100%) rotateX(0deg);
    opacity: 1;
    font-family: 'Courier Prime', 'Courier New', Courier, monospace !important;
}


.contenant1
{
    text-align: center;
}

.contenant2
{
    text-align: center;
    margin-top: -10px;
}

#bvn
{
    position: relative;
    height: 100%;
    width: 100%;
    font-weight: bold;
    font-size: 2rem;
}

#p2
{
    background-color: var(--dark);
    display: flex;
    justify-content: space-around;
}


#illustration
{
    height: 90vh;
    width: 60%;
}


#moi
{
    height: 90vh;
    width: 30%;
    min-width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
}

#parcours
{
    height: 45%;
    width: 100%;
    margin-top: 15px; 
}

#perso
{
    height: 50%;
    width: 100%;
    margin-top: 15px;
}

#moi p
{
    margin-bottom: 0.5rem;
    display: block;
}

#p3
{
    background-color: var(--dark);
}

#aptitudes, #dev
{
    border: var(--blanc) 1px solid;
    width: 40%;
}

#parcours>h2
{
    font-size: 3rem;
}

#perso>h2
{
    font-size: 3rem;
}

#imgBox
{
    text-align: center;
    justify-content: space-around;
}

#imgBox img
{
    display: inline-block;
    margin: 10px;
    height: 50px;
    width: 50px;
}

#p4
{
    background-color: var(--dark);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 25%;
    grid-template-columns: 100px 100px 100px;
}

.card
{
    
}

#p5
{
    background-color: var(--dark);
}

#contacter
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70vh;
    width: 50vw;
    top: 15%;
    left: 25vw;
    padding: 15px;
}

#contacter>h1
{
    position: absolute;
    top: 0;
    left: 22%;
    font-size: 4rem;
    text-align: center;
}

#formContainer
{
    position: absolute;
    height: 70%;
    width: 50%;
    left: calc(50% / 2);
    box-shadow: 0px 5px 31px 7px rgba(255, 117, 23, 0.534);
    background-color: var(--dark);

}

#formulaire
{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

input, textarea
{
    margin-top: 5%;
}

label
{
    font-style: italic;
    font-weight: bold;
    opacity: 0.4;
}

#valider
{
    position: absolute;
    width: 20%;
    left: 40%;
    top: 80%;
}

.overlay
{
    position: absolute;
    background-color: var(--noir);
    width: 100%;
    height: 100%;
}

/* --- FOOTER -------------------------------- */

footer
{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;

}


/* --- ANIMATIONS ---------------------------- */


.animationVersArriere
{
    animation-name: planVersArriere;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.animationVersAvant
{
    animation-name: planVersAvant;
    animation-duration: 3s;
    animation-fill-mode: forwards;

}



@keyframes planVersArriere
{
    
    0%
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;    
        transform: translateZ(0);
        opacity: 1;
    }

    50%
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -90%;
        width: 100%;    
        border-radius: 15px;
        transform: translateZ(-10000px);

    }

    100%
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: translateZ(-30000px);
        opacity: 0;
        border: solid 2px var(--blanc);
    }
}

@keyframes planVersAvant
{
    0%
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0%;
        width: 100%;
        transform: translateZ(-20000px);
        opacity: 0;
        border: solid 2px var(--blanc);
    }

    50%
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 45%;
        width: 100%;
        transform: translateZ(-5000px);
        border-radius: 15px;
    }

    100%
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;    
        transform: translateZ(0);
        opacity: 1;

    }
}