@media screen and (min-width:361px) and (max-width: 640px) 
{
    *
    {
        margin: 0;
        padding: 0;
        transition: 3s all;
    }

    :root
    {
        --dark: #3E3939;
        --noir: #2c2727;
        --orange: #ff7517;
        --blanc: #F6F4F4;
    }

    html
    {
        font-size: 14px;
        font-family: 'Hind Siliguri', sans-serif;
        color: var(--blanc) ;
        height: 100vh;
    }
    /* --- NAVIGATION ---------------------------- */

    

    #nav_bar
    {
        position: absolute;
        top: 0;
        width: 55px;
        bottom: 0;
        border-right: 2px solid var(--noir);
        background-color: var(--orange);
    }

    #burger
    {
        position: absolute;
        height: 45px;
        width: 45px;
        left: 5px;
    }

    #burger img
    {
        height: 100%;
        width: 100%;
    }

    #navigation
    {
        position: absolute;
        top: 50px;
        margin-right: 1px;
        right: 0;
        width: 150px;
        opacity: 0;
    }

    #navigation ul
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 42px;
        margin-top: 30px;
    }

    #navigation li
    {
        text-decoration: none;
        list-style-type: none;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        padding: 5px 5px 0 5px;
        width: 100%;
        height: calc(100% - 10px);
        margin-top: 15px;
        margin-left: 8px;
        background-color: var(--dark);
        color: var(--orange);
        border: var(--noir) solid 1px;
        border-radius: 5px;
    }

    nav a
    {
        width: 100%;
        height: 100%;
    }

    nav li:hover
    {
        transition: 2s !important;
        background-color: var(--orange);
        color: var(--dark);
        font-weight: 900;
    }

    /* ---    MAIN et PLAN   ---*/
    #main
    {
        position: absolute;
        left: 57px;
        right: 0;
        top: 0;
        bottom: 0;
        perspective: 5000px;
    }

    p
    {
        text-align: justify;
    }

    #main h2
    {
        text-align: center;
    }

    .plan
    {
        position: absolute;
        text-align: center;
        transform: translateZ(-3000px);
        visibility: hidden;
    }

    .planAvant
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: translateZ(0);
        opacity: 1;
    }


    /* ---   OVERLAY   ---*/

    .overlay
    {
        position: absolute;
        background-color: var(--noir);
        width: 100%;
        height: 100%;
    }

    /* --- FOOTER -------------------------------- */

    footer
    {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 50px;

    }


    /* --- ANIMATIONS ---------------------------- */


    .animationVersArriere
    {
        animation-name: planVersArriere;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }

    .animationVersAvant
    {
        animation-name: planVersAvant;
        animation-duration: 3s;
        animation-fill-mode: forwards;

    }



    @keyframes planVersArriere
    {
        
        0%
        {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;    
            transform: translateZ(0);
            opacity: 1;
        }

        50%
        {
            position: absolute;
            top: 0;
            bottom: 0;
            left: -90%;
            width: 100%;    
            border-radius: 15px;
            transform: translateZ(-10000px);

        }

        100%
        {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            transform: translateZ(-30000px);
            opacity: 0;
            border: solid 2px var(--blanc);
        }
    }

    @keyframes planVersAvant
    {
        0%
        {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0%;
            width: 100%;
            transform: translateZ(-20000px);
            opacity: 0;
            border: solid 2px var(--blanc);
        }

        50%
        {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 45%;
            width: 100%;
            transform: translateZ(-5000px);
            border-radius: 15px;
        }

        100%
        {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;    
            transform: translateZ(0);
            opacity: 1;
        }
    }
    
}