#p4
{
    background-color: var(--dark);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 90px 358px 358px 90px ;
    grid-template-columns: 184px 641px 184px 641px 184px;
    grid-template-areas: 
    "area1 area2 area2 area2 area3"
    "area4 area5 area6 area7 area8"
    "area9 area10 area11 area12 area13"
    "area14 area15 area16 area17 area18";
}

#p4 h2
{
    grid-area: area2;
    text-align: center;
}


#card1
{
    grid-area: area5;
}

#card2
{
    grid-area: area7;
}

#card3
{
    grid-area: area10;
}

#card4
{
    grid-area: area12;
}

.card
{
    background-color: var(--orange);
    padding: 5px 30px 0 30px;
    margin: 10px 0;
    border-radius: 5px;
}

.card img
{
    width: 100%;
    height: 150px;
}

#card1 h3
{
margin-top: 10px;
}

#git_container
{
    position: absolute;
    background-color: var(--blanc);
    height: 250px;
    width: 250px;
    border-radius: 50%;
    left: 43%;
    top: 34vh;
}

#git_container a , #git_container img
{
    height: 95%;
    width: 95%;
    left: 2.5%;
    top: 2.5%;
    position: absolute;
}
